body {
  padding: 15px;
  background-color: #2d2d37;
  color: #dadada;
  font-family: Montserrat, Lato, sans-serif;
}

p {
  line-height: 20px;
}

a {
  text-decoration: none;
  color: #e71d36ad;
}

.title {
  color: white;
  margin-top: 30px;
}

ul li + li {
  margin-top: 8px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  max-width: 950px;
}

.header {
  border-bottom: 3px solid #e71d36;
  margin-bottom: 25px
}

.header h1 {
  margin-bottom: 0px;
  color: white;
}

.header > .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-section {
  display: flex;
  align-items: center;
}

.title-section:after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  margin-left: 20px;
  background-color: #c9cad9;
}

.number {
  margin-right: 10px;
  font-size: 0.9em;
  font-weight: 400;
  color: #e71d36ad;
}

.items {
  margin-top: 35px;
  margin-bottom: 40px;
}

.items .item {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.items .item + .item {
  padding-top: 20px;
  border-top: 1px dotted #c9cad92e;
}

.items .item h3 {
  margin-top: 0px;
}

.items .item .preview img {
  border: 6px solid #c9cad9;
}

.items .item .title {
  margin-top: 0px;
}

.items .item .title h3 a {
  color: #e71d36 !important;
}

.items .item:nth-child(2n) {
  flex-direction: row-reverse;
}

.items .item .read-more {
  margin-top: 15px;
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #e71d36;
}

.items .item + .item {
  margin-top: 20px;
}

.read-more:hover {
  background-color: #80000033;
}

a:hover {
  color: #ff0000;
}

.items-other {
  displaY: flex;
  gap: 20px;
}

.items-other .other {
  background-color: #00000047;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 60px;
  border: 2px solid #c9cad98f;
}

.items-other .other h3 {
  margin-top: 0px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

#info-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

#info-links img {
  width: 24px;
  height: 24px;
}

@media only screen and (max-width: 768px) {
  .preview img {
    width: 250px;
  }
}

@media only screen and (max-width: 632px) {
  .items .item {
    flex-direction: row !important;
  }

  .preview {
    display: none;
  }

  .header > .info {
    flex-direction: column;
  }

  .header h1 {
    text-align: center;
  }

  .items-other {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .items-other .other {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 400px) {
  ul {
    padding-inline-start: 10px;
  }
}
